.searchToggleWrapper
    position: relative
    display: flex
    padding: 4px
    width: 240px
    background: var(--search-toggle-wrapper-bg)
    border: 1px solid var(--search-toggle-wrapper-border)
    border-radius: 12px

.searchToggleSlider
    position: absolute
    top: 4px
    left: 4px
    width: calc(50% - 4px)
    height: calc(100% - 8px)
    background: var(--search-toggle-slider-bg)
    border-radius: 8px
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1)
    pointer-events: none

    &.right
        transform: translateX(100%)

.searchToggleButton
    flex: 1
    z-index: 1
    font-family: var(--search-toggle-button-font-family)
    font-size: var(--search-toggle-button-font-size)
    font-weight: var(--search-toggle-button-font-weight)
    padding: 8px 0
    border: none
    background: var(--search-toggle-button-bg)
    color: var(--search-toggle-button-text)
    cursor: pointer
    transition: color 0.3s ease

    &.active
        color: var(--search-toggle-button-text-active)
