*,
*::before,
*::after
    box-sizing: border-box
    background-repeat: no-repeat

html
    font-family: var(--font-sans)
    font-size: var(--font-size)
    font-weight: var(--font-weightz)

body
    line-height: var(--line-height)
    margin: 0
    text-rendering: optimizeLegibility
    background-attachment: fixed
    background-image: var(--bg-image)
    background-size: cover
    color: var(--text-primary)
